---
layout: default
---

<!-- Page Header -->
{% include intro-header.html type='page' %}

<!-- Main Content -->
<div class="container">
  <div class="row">
    <!-- **** About **** -->
    {% if page.sidebar %}
      <!-- PostList Container -->
      <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 postlist-container">
        {{ content }}
      </div>

      <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12 col-xs-12 sidebar-container">
        <!-- Short About -->
        {% include short-about.html %}

        <!-- Friends Blog -->
        {% include friends.html %}
      </div>
    {% else %}
      <!-- NO SIDEBAR -->
      <!-- PostList Container -->
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-0 col-sm-12 col-xs-12 postlist-container">
        {{ content }}
      </div>
    {% endif %}
  </div>
  <div class="row">
    <!-- utterances -->
    {% if site.utterances_comment and page.comment %}
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        {% include utterances_comment.html %}
      </div>
    {% endif %}
  </div>
</div>

<!-- add support for mathjax-->
{% if page.mathjax %}
{% include mathjax_support.html %}
{% endif %}

<!-- add support for katex-->
{% if page.katex %}
{% include katex_support.html %}
{% endif %}